.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  animation: gridAnimation 0.5s ease;
}

@keyframes gridAnimation {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.project-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  margin: 0 40px;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  height: auto;
}

.project-info {
  padding: 15px;
}

.project-info h3 {
  margin: 0;
  color: #333333;
}

.project-info p {
  color: #666;
}

.project-info a {
  text-decoration: none;
  color: #2A9D8F ;
}

.project-info a:hover {
  color: #F4A261 ;
}
