.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #B2A59B;
  color: #fff;
  font-size: 2em;
}

.loading-screen h1 {
  color: #fff;
}
