.home-container {
  height: 70vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #a0c4ff;
  text-align: center;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.menu-item {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-home-1 {
  font-size: 6rem;
  font-weight: 700;
  color: #2d6a4f  ;
  font-style: italic;
  margin-bottom: 12px;
}

.text-home-2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333333 ;
  margin-bottom: 7px;
}

.text-home-3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333333;
  margin-bottom: 7px;
}

.text-home-4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333333;
  margin-bottom: 7px;
}

.photo {
  width: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 75px;
}
