.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #a0c4ff;
  height: 15vh;
}

.logo img {
  height: 50px;
}

.time {
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 20px
}

.name-header {
  font-size: 1.8em;
  font-weight: bold;
  margin: 15px 0 0 20px;
  color: #333333;
}

.time {
  margin-right: 20px;
}

.hours {
  font-size: 1.5em;
  color: #333333;
}

.minutes {
  font-size: 1.5em;
  color: #2d6a4f;
}
