.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #B2A59B;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;

  .copyright, .time {
    font-size: 16px;
    padding: 0 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
